* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Poppins", monospace;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: #DDD0C8;
}

h1 {
    font-size: 2.8em;
    font-weight: 900;
    margin: 40px 0;
}

h2 {
    margin: 20px 0;
}

#container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBoxContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#scoreBoxPlayer, #scoreBoxComputer {
    width: 200px;
    margin: 10px;
    border: 3px solid #a5826d;
    border-radius: 10px;
}

#scoreBoxPlayer>h2, #scoreBoxComputer>h2 {
    margin-bottom: 0px;
}

#scoreBoxPlayer>h1, #scoreBoxComputer>h1 {
    margin: 10px 0 10px;
}

#playerSelection, #computerSelection {
    height: 130px;
    display: flex;
    margin: 30px 0;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    font-weight: 900;
}

#lastResult {
    margin: 20px 0;
}

img {
    height: 50%;
}

button {
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 10px;
    background-color: #FFCC00;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
}

.playBtn {
    height: 130px;
    width: 130px;
}

.resetBtn {
    display:none;
    height: 40px;
    width: 130px;

}

.playBtn:hover, .resetBtn:hover {
    background-color: #e6b800;
}

#rock {
    background-image: url('img/rock.png');
}

#paper {
    background-image: url('img/paper.png');
}

#scissors {
    background-image: url('img/scissors.png');
}
